* {
    margin: 0;
    wrapper: 0;

}

body {
    overflow: hidden;
    background-color: black;
    color: white;
    text-align: center;

}

#score {
    width: 100vw;
    text-align: center;
    padding-top: 1vh;
    border: 1pt yellow dotted;
    /* background-color: yellow; */
    height: 1vh;
    color: white;
}
#answers{
  position: absolute;
  width: 100vw;
  height: 8vh;
  padding-top: 1vh;

}
.wrapper {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    z-index: -100;
}

.ball {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;

}

.ball>div {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(145deg, #4da7db, #5bc6ff);
    box-shadow: 5px 5px 64px #3c82aa,
        -5px -5px 64px #6ff1ff;

}

#blue {
    background: linear-gradient(145deg, #4da7db, #5bc6ff);
    box-shadow: 5px 5px 64px #3c82aa,
        -5px -5px 64px #6ff1ff;
}

#white {

    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 5px 5px 64px #b3b3b3,
        -5px -5px 64px #ffffff;
}

#green {

    background: linear-gradient(145deg, #6dfbf2, #5cd4cb);
    box-shadow: 5px 5px 64px #5acfc7,
        -5px -5px 64px #72fffd;
}

#red {

    background: linear-gradient(145deg, #e44343, #c03939);
    box-shadow: 5px 5px 64px #bb3737,
        -5px -5px 64px #ef4747;
}


/* get the grid: https://cssgrid-generator.netlify.app/  */

#bottom {
    height: 20vh;
    background-color: white;
    width: 100vw;
    position: absolute;
    border: 1pt red dotted;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

#leftBtn {
    grid-area: 1 / 1 / 2 / 2;
}

#questions {
    grid-area: 1 / 2 / 2 / 5;

}

#qsContent{
    text-align: center;
    color: black;
    background-color: red;
    margin: auto;
    width: 100%;
    height: 20vh;
    padding: 5vh 0;
    font-size: large;

}
#rightBtn {
    grid-area: 1 / 5 / 2 / 6;
}