* {
    margin: 0;
    padding: 0;

}

body,
html {
    overflow: hidden;
    background-color: black;
    color: white;
    text-align: center;
    height: 100vh;
    width: 100vw;

}

p {
    font-size: x-large;
}

h2{
    font-size: xx-large;
}
#score {
    width: 100vw;
    text-align: center;
    height: 2vh;
    color: white;
    bottom: 0;
}

#answers {
    width: 60vw;
    position: relative;
    height: 15vh;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

}

.pop-up{
    display: none;
    height: 50vh;
    width: 100%; 
    position: absolute;
    /* display: flex; */
    flex-flow: column nowrap;
    justify-content: center;
   z-index: 10;

}
.close{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 10px 0 0 ;

}

.wrapper {
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;


}

.ball {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;


}

.ball>div {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(145deg, #4da7db, #5bc6ff);
    box-shadow: 5px 5px 64px #3c82aa,
        -5px -5px 64px #6ff1ff;

}

#blue {
    background: linear-gradient(145deg, #4da7db, #5bc6ff);
    box-shadow: 5px 5px 64px #3c82aa,
        -5px -5px 64px #6ff1ff;
}

#white,#whiteBtn {

    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 5px 5px 64px #b3b3b3,
        -5px -5px 64px #ffffff;
}



#whiteChar:hover,#redChar:hover,#greenChar:hover,#blueChar:hover{
    cursor: pointer;
    text-decoration-line: line-through;
}
#whiteChar:visited,#redChar:visited,#greenChar:visited,#blueChar:visited{
    cursor: pointer;
    opacity: 0.5;
    color: #00FF00;    
    text-decoration-line: none;

}
#green {

    background: linear-gradient(145deg, #6dfbf2, #5cd4cb);
    box-shadow: 5px 5px 64px #5acfc7,
        -5px -5px 64px #72fffd;
}

#red,#redBtn {

    background: linear-gradient(145deg, #e44343, #c03939);
    box-shadow: 5px 5px 64px #bb3737,
        -5px -5px 64px #ef4747;
}

#bluePopUp{
    color: white;
    background-color: #3c82aa;

}

#circles{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

}
#circles>div{
    width: 10px;
    height: 10px;
    background-color: white;
    opacity: 1;
    margin: 0 20px;
}

#whitePopUp{
    color: black;
    background-color: #b3b3b3;

}


#redPopUp{
    color: white;
    background-color: #bb3737;

}

#greenPopUp{
    color: black;
    background-color: #5acfc7;

}


button{
    background-color: white;

}
#allInfo{
    display: none;
}


/* get the grid: https://cssgrid-generator.netlify.app/  */
.biggerWrapper,#mid {
    /* display: flex; */
    flex-flow: column wrap;
    align-content: center;
    align-items:center;
    justify-content: space-evenly;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

#questionsButtons {
    height: 20vh;
    background-color: red;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-origin: padding-box;

}

button{
    background-color: lightgray;
    color: black;
}

#leftBtn {
    grid-area: 1 / 1 / 2 / 2;
}

#questions {
    grid-area: 1 / 2 / 2 / 5;
    background-color: gray;

}

#qsContent {
    text-align: center;
    color: black;
    margin: auto;
    width: 100%;
    height: 20vh;
    padding: 5vh 0;
    font-size: large;

}

#rightBtn {
    grid-area: 1 / 5 / 2 / 6;
}


#resultforWhite, #resultforRed{
    display: none;
}