* {
    margin: 0;
    padding: 0;

}

body,
html {
    overflow: hidden;
    background-color: black;
    color: white;
    text-align: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Averia Serif Libre', cursive; 
}

p {
    font-size: x-large;
}

h1{
    margin: 10px 0;
}

h2{
    font-size: xx-large;
}

ul{
    list-style-type:none;
}

#bgAnim{
    position: absolute;
    width:100vw;
}

#intro{
    display:flex;
    flex-direction: column;
    padding: 0 20vw;
    height:100vh;
    justify-content: center;
    align-items: center;
}

#instruction{
    font-size: 1em;
}

.shortintro{
    font-size: 1em;
}

#credit{
    position: absolute;
    bottom:10px;
    font-size: 1em;
}

#next{
    background-color: white;
    margin-top: 10px;
    padding:1vh 1vw;
    width:15vw;
    color:black;
}

#score {
    width: 100vw;
    text-align: center;
    height: 2vh;
    color: white;
    bottom: 0;
}

#answers {
    width: 60vw;
    position: relative;
    height: 15vh;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

}
#bluePopUp{
    color: white;
    background-color: #3c82aa;
    padding: 0 5vw;

}
#whitePopUp{
    color: black;
    background-color: #b3b3b3;

}
#redPopUp{
    color: white;
    background-color: #bb3737;

}
#greenPopUp{
    color: black;
    background-color: #5acfc7;

}

.pop-up{
    display: none;
    height: 50vh;
    width: 80%; 
    position: absolute;
    /* display: flex; */
    flex-flow: column nowrap;
    justify-content: center;
    z-index: 10;
    padding: 0 5vw;

}
.close{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 10px 0 0 ;

}

.wrapper {
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;


}

.ball {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;


}

.ball>div {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(145deg, #4da7db, #5bc6ff);
    box-shadow: 5px 5px 64px #3c82aa,
        -5px -5px 64px #6ff1ff;
    font-size: 1.2em;

}

#blue {
    background: linear-gradient(145deg, #4da7db, #5bc6ff);
    box-shadow: 5px 5px 64px #3c82aa,
        -5px -5px 64px #6ff1ff;
}

#blue:hover{
    box-shadow: 5px 5px 64px #2c6688,
        -5px -5px 64px #49bcc9;
        transition: box-shadow 1s;
}

#white,#whiteBtn {

    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 5px 5px 64px #b3b3b3,
        -5px -5px 64px #ffffff;
}

#white:hover{
    box-shadow: 5px 5px 64px #706d6d,
        -5px -5px 64px #c9c4c4;
        transition: box-shadow 1s;
}

#green {

    background: linear-gradient(145deg, #6dfbf2, #5cd4cb);
    box-shadow: 5px 5px 64px #5acfc7,
        -5px -5px 64px #72fffd;
}

#green:hover{
    box-shadow: 5px 5px 64px #358f89,
    -5px -5px 64px #46bbb9;
        transition: box-shadow 1s;
}

#red,#redBtn {

    background: linear-gradient(145deg, #e44343, #c03939);
    box-shadow: 5px 5px 64px #bb3737,
        -5px -5px 64px #ef4747;
}

#red:hover{
    box-shadow: 5px 5px 64px #882222,
        -5px -5px 64px #ca3333;
        transition: box-shadow 1s;
}

button{
    background-color: white;
    font-size: 1.2em;
}
#allInfo{
    display: none;
}


/* get the grid: https://cssgrid-generator.netlify.app/  */
.biggerWrapper,#mid {
    /* display: flex; */
    flex-flow: column wrap;
    align-content: center;
    align-items:center;
    justify-content: space-evenly;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

#questionsButtons {
    height: 20vh;
    /*background-color: red;*/
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-origin: padding-box;
}

button{
    background-color:transparent;
    border: none;
    color: lightgray;
}
#circles{
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

}
#circles>div{
    width: 10px;
    height: 10px;
    background-color: white;
    opacity: 1;
    margin: 0 20px;
}


#leftBtn {
    grid-area: 1 / 1 / 2 / 2;
    border-right: 1px white solid;
    font-size: 1.5em;
}

#questions {
    grid-area: 1 / 2 / 2 / 5;
    /*background-color: gray;*/

}

#qsContent {
    text-align: center;
    margin: auto;
    width: 100%;
    height: 20vh;
    padding: 5vh 0;
    font-size: 1.5em;

}

#rightBtn {
    grid-area: 1 / 5 / 2 / 6;
    border-left: 1px white solid;
    font-size: 1.5em;
}


#resultforWhite, #resultforRed{
    display: none;
}

#ready{
    background-color: white;
    color:black;
    padding: 5px 10px;
    border: 1px white solid;
}

#gotoMid{
    background-color: white;
    color:black;
    padding: 5px 10px;
    border: 1px white solid;
}
#wait{
    background-color: white;
    color:black;
    padding: 5px 10px;
    border: 1px white solid;
    margin-bottom: 5px;
}

#gentle{
    background-color: white;
    color:black;
    padding: 5px 10px;
    border: 1px white solid;
    margin-right:10px;
}

#blunt{
    background-color: white;
    color:black;
    padding: 5px 10px;
    border: 1px white solid;
}

#gentleText{
    margin: 10px 0;
}

#bluntText{
    margin: 10px 0;
}

#gotoEnd{
    background-color: white;
    color:black;
    padding: 5px 10px;
    border: 1px white solid;
    margin-right:10px;
}

#gotoStart{
    background-color: white;
    color:black;
    padding: 5px 10px;
    border: 1px white solid;
}

#gotoStart > a{
    text-decoration: none;
    color: black;
}