* {
    margin: 0;
    padding: 0;

}

body,
html {
    overflow: hidden;
    background-color: black;
    color: white;
    text-align: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Averia Serif Libre', cursive;
}

p {
    font-size: x-large;
}

#score {
    width: 100vw;
    text-align: center;
    height: 2vh;
    color: white;
    padding-bottom: 2vh;
    position: absolute; 
    bottom: 20px;
    /* position: relative; */
}

#answers {
    width: 60vw;
    position: relative;
    height: 15vh;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

}

.wrapper {
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    z-index: 100;


}

.ball {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;


}

.ball>div {
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(145deg, #4da7db, #5bc6ff);
    box-shadow: 5px 5px 64px #3c82aa,
        -5px -5px 64px #6ff1ff;

}

#blue {
    background: linear-gradient(145deg, #4da7db, #5bc6ff);
    box-shadow: 5px 5px 64px #3c82aa,
        -5px -5px 64px #6ff1ff;
}

#white {

    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 5px 5px 64px #b3b3b3,
        -5px -5px 64px #ffffff;
}

#green {

    background: linear-gradient(145deg, #6dfbf2, #5cd4cb);
    box-shadow: 5px 5px 64px #5acfc7,
        -5px -5px 64px #72fffd;
}

#red {

    background: linear-gradient(145deg, #e44343, #c03939);
    box-shadow: 5px 5px 64px #bb3737,
        -5px -5px 64px #ef4747;
}


/* get the grid: https://cssgrid-generator.netlify.app/  */
#biggerWrapper {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items:center;
    justify-content: space-evenly;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

#questionsButtons {
    height: 10vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-origin: padding-box;

}

button{
    background-color: black;
    color:white;
    border: none;
    font-size: 1.2em;
    font-family: 'Averia Serif Libre', cursive;
}

#left-arrow{
    width:1em;
    padding-right: 10px;
}

#right-arrow{
    width:1em;

    padding-left: 10px;
}

#leftBtn {
    grid-area: 1 / 1 / 2 / 2;
    padding-left: 5vw;
}

#questions {
    grid-area: 1 / 2 / 2 / 5;
    border-left: 1px solid white;
    border-right: 1px solid white;

}

#qsContent {
    text-align: center;
    color: white;
    /* background-color: red; */
    margin: auto;
    width: 100%;
    height:10vh;
    font-size: 1.5em;

}

#rightBtn {
    grid-area: 1 / 5 / 2 / 6;
    padding-right: 5vw;
}

#answers p{
    font-style: italic;
}

#score p{
    font-size: 1em;
}